<table class="table table-striped">
    <tr *ngFor="let bid of bids">
            <td>{{bid.dealId}}</td>
            <td>{{bid.companyName}}</td>
            <td>{{bid.bidValue}}</td>
    </tr>
</table>		


