<table>

    <tr *ngFor="let deal of deals">
        <td>{{deal.dealName}}</td>
        <td>
            <input  [ngClass]="{'submitted-color':deal.isSubmitted}"
                    type="text" 
                    data-id="{{deal.dealId}}"
                    [value]="deal.bidValue"                    
                    (input)="onChange(deal,$event.target.value)"
                     />    
                     
        </td>
        <td>
            <span *ngIf="deal.isSubmitted" >Bid Submitted Successfully</span>
            <button *ngIf="!deal.isSubmitted" (click)="openSubmitConfirmDialog(deal)">Submit</button>
        </td>
    </tr>
</table>


<modal  [animation]="animation" 
        [keyboard]="keyboard" 
        [backdrop]="backdrop" 
        #modal >

        <modal-header [show-close]="true">
            <h4 class="modal-title">Administrator </h4>
        </modal-header>
        <modal-body>
          Are you sure you would like to submit this bid? 
        </modal-body>
        <modal-footer>
                <button type="button" 
                        class="btn btn-default" 
                        data-dismiss="modal" 
                        (click)="dismissSubmitConfirmDialog()">No
                </button>

                <button type="button" 
                        class="btn btn-primary"
                        (click)="submitConfirmDialogClosed()">Yes
                </button>
        </modal-footer>
</modal>

<button type="button" class="btn btn-default" (click)="open()">Open me!</button>

  