<h1>New Customer Registration Form</h1>

<form (ngSubmit)="onSubmit()" [formGroup]="form" #f="ngForm">
    <div class="form-row">
        <div class="formHeading">Name</div>
        <input type="text" id="name" formControlName="name">
        <div class="errorMessage" *ngIf="f.form.controls.name.touched && !f.form.controls.name.valid">Name is required</div>
    </div>

    <div class="form-row">
        <div class="formHeading">Company Name</div>
        <input type="text" id="companyName" formControlName="companyName">
        <div class="errorMessage" *ngIf="f.form.controls.companyName.touched && !f.form.controls.companyName.valid">Company Name is required</div>
    </div>

    <div class="form-row">
        <div class="formHeading">Phone Number</div>
        <input type="text" id="phoneNumber" formControlName="phoneNumber">
        <div class="errorMessage" *ngIf="f.form.controls.phoneNumber.touched && !f.form.controls.phoneNumber.valid">Invalid Phone Number; Must be in U.S. Format eg: 123-456-7890 </div>
    </div>

    <div class="form-row">
        <div class="formHeading">Email Address</div>
        <input type="text" id="emailAddress" formControlName="emailAddress">
    </div>
    
    <div class="form-row">
        <button type="submit" [disabled]="!f.valid">Save</button>
    </div>

</form>

<div class="form-row">
    <div *ngIf="payLoad"><strong>The form contains the following values</strong></div>
    <div>
        {{payLoad}}
    </div>
</div>

