<div class="container-fluid">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="col-md-2 col-sm-2  col-xs-2">
                <!--<i class="glyphicon glyphicon-envelope glyphicon-font-46"></i>-->
                <img src="./assets/images/auction.png" height="65px" />
            </div>
            <div class="col-md-8 col-sm-8 col-xs-8">

                <div class="head-title"> Demo Auction </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
                <div class="text-right"> <span>Welcome {{customer.name}}</span></div>
                <div class="text-right mrg-top-7"> 
                    <span><strong> Aution Close In: </strong></span>
                    <span class="time">
                        <ticker-clock></ticker-clock>
                    </span>
                </div>
            </div>
        </div>
    </nav>
</div>

<div class="container">
    <router-outlet name="msg"></router-outlet>
</div>
<div class="container">
<router-outlet></router-outlet>
</div>
